* {
  box-sizing: border-box;
}

h1 {
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 1.6vw;
}

nav > a:hover {
  text-decoration: none;
}

body {
  background: #314443;
}

h2 {
  font-size: 1.2vw;
}

.post-date {
  font-size: 12px;
}

h3 {
  font-size: 1.1vw;
}

button,
.my-post-btn {
  padding: 3px;
  font-size: 1vw;
  background: #6ebbb5;
  border: 1px solid #72807f;
  border-radius: 5px;
  color: #e1efef;
}

button:hover,
.my-post-btn:hover {
  background: #1d2022;
  color: #50aadd;
}

.new-post-btn {
  margin-top: 40px;
}

.new-post-btn > a {
  font-weight: bold;
  font-size: 1vw;
  background: #2c373d;
  color: #739ed6;
  border-radius: 10px;
}

.new-post-btn > a:hover {
  text-decoration: none;
  background: #919d9c;
  border: 1px solid #72807f;
  color: #e1efef;
}

.comment-form {
  border-top: #303336 1px dashed;
}
